<div style="padding-top:100px" style="height:50px">
 <footer  >
      <div class="row">
        <div class="col-xs-6">
          <h4 class="text-xs-left">Copyright Reserved</h4>
        </div>
        <div class="col-xs-6">
         <h4 style="color:#000000"> Created by: <b>NEERAJ KAUSHIK</b><br></h4>
         <!-- target="_blank used to open link in new tab" -->
         <p><b> VISIT HERE</b></p>
         <!--To set the fb or any other link -->
         <a href="https://www.facebook.com/neeraj.kaushik.3760" target="_blank" class="fa fa-facebook" ></a>
         <a href="https://www.linkedin.com/in/neeraj-kaushik-a82567123/" target="_blank" class="fa fa-linkedin"></a>
        </div>
      </div>
</footer>
</div>
