<div class="container-fluid" style="padding:0px">
 <div class="row">
  <div class="col-xs-5 text-center dist text-primary" style="padding-top:20px">
     
      
      <B><h3>REAL ESTATE</h3></B>
    
  </div>
  <div class="col-xs-7 " width="100%">
    <div class="col-xs-2 text-center">
          <h5 class=" text-primary" style="padding-top:30px"><a href="/">HOME</a> </h5> 
    </div>
    <div class=" col-xs-2 text-center ">
          <h5 class="text-primary" style="padding-top:30px"><a href="/agents">AGENTS</a> </h5> 
    </div>  
    <div class="col-xs-2 text-center" >
          <h5 class=" text-primary" style="padding-top:30px"><a href="#contact">CONTACT US</a> </h5>
    </div>
    <div class="col-xs-6" >
          <h5 class="text-primary" style="padding-top:30px"><a href="/bookonline">BOOK ONLINE</a></h5>
    </div>
  </div>

    
 </div>