<div class="container">
	<div class="row">
			<div style="padding-top:50px ; text-align:right">
				<p><a href = "/users/login">Login </a>/<a href = "/users/register"> Register </a>
			</div>
	</div>
	<div class="row">
			<div class="col-xs-1">
		    
			</div>
			<div class="col-xs-10">
			    <div class="row" style="padding-top:40px">
				<div class="col-xs-4">
				  <img class="img-responsive" style="width:290px ; height:290px" src="/img/B1.jpg" alt="down away" > 
				  <h4 class="text-primary">DOWN AVENUE</h4>
				  <h4 class="text-primary">$500,000</h4>
				  <h4 style="padding-top:20px" class="text-muted">4 Bedrooms</h4>
				  
				  <button class="btn btn-default"><a href>Read More</a></button>
				</div>
				<div class="col-xs-4">
				    <img class="img-responsive" style="width:290px ; height:290px" src="/img/images.jpg" alt="down away" >
				    <h4 class="text-primary">QUEENS WAY</h4>
				    <h4 class="text-primary">$450,000</h4>
				    <h4 style="padding-top:20px" class="text-muted">4 Bedrooms</h4>
				    
				    <button class="btn btn-default"><a href="#">Read More</a></button>         
				</div>
				<div class="col=xs-4">
					<img class="img-responsive" style="width:290px ; height:290px" src="/img/elegant.jpg" alt="down away" >
					<h4 class="text-primary">RANDALL CLOSE</h4>
					<h4 class="text-primary">$790,000</h4>
					<h4 style="padding-top:20px" class="text-muted">4 Bedrooms</h4>
					<button class="btn btn-default"><a herf="#">Read More</a></button>
				</div>
			    </div>
			</div>          
			<div class="col-xs-1">
			</div>
	</div>
	
		
	</div>