
<div style="padding-top:20px; margin:0px">
  <img class="img-responsive" src="/img/3D Architectural Bungalow Flythrough.png"
   alt="One of the best hotel in the world."
  width="100%" style="padding-top:20px"> 
 </div>
 <h3 class="text text-primary text-center" style="padding-top:40px"><B> LATEST PROPERTIES FOR SALE</B> </h3>
 <div class="row">
  <div class="col-xs-2">

  </div>
  <div class="col-xs-8">
      <div class="row" style="padding-top:40px">
        <div class="col-xs-4">
          <img class="img-responsive" style="width:290px ; height:290px" src="/img/B1.jpg" 
          alt="down away" > 
          <h4 class="text-primary">DOWN AVENUE</h4>
          <h4 class="text-primary">$500,000</h4>
          <h4 style="padding-top:20px" class="text-muted">4 Bedrooms</h4>
          <p style="padding-top:20px" class="text-muted text-center">
              I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
               double click me to add your own content and make changes to the font. I’m a great place for you
                to tell a story and let your users know a little more about you.
          </p>
          <button class="btn btn-default"><a href>Read More</a></button>
        </div>
        <div class="col-xs-4">
            <img class="img-responsive" style="width:290px ; height:290px" src="/img/images.jpg" alt="down away" >
            <h4 class="text-primary">QUEENS WAY</h4>
            <h4 class="text-primary">$450,000</h4>
            <h4 style="padding-top:20px" class="text-muted">4 Bedrooms</h4>
            <p style="padding-top:20px" class="text-muted text-center">
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                 double click me to add your own content and make changes to the font. I’m a great place for you
                  to tell a story and let your users know a little more about you.
            </p>
            <button class="btn btn-default"><a href="#">Read More</a></button>         
        </div>
        <div class="col=xs-4">
              <img class="img-responsive" style="width:290px ; height:290px" src="/img/elegant.jpg" alt="down away" >
              <h4 class="text-primary">RANDALL CLOSE</h4>
              <h4 class="text-primary">$790,000</h4>
              <h4 style="padding-top:20px" class="text-muted">4 Bedrooms</h4>
              <p style="padding-top:20px" class="text-muted text-center">
                  I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                   double click me to add your own content and make changes to the font. I’m a great place for you
                    to tell a story and let your users know a little more about you.
              </p>
              <button class="btn btn-default"><a herf="#">Read More</a></button>
        </div>
      </div>
  </div>          
  <div class="col-xs-2">
    
  </div>
 </div>

 <h2 class="text-center" style="padding-top:90px ; color:#324A5E"><B>LATEST RENTAL PROPERTIES</B></h2>
 <br>
 
 <div class="rectangle" style="background-color: #323270">
   <img class="img-responsive  img1" src="/img/rec1.jpg" alt"No internet access">
  <h4  style="color:white ; padding-top:50px ; padding-left:650px"><b>CHASE AVENUE</b></h4>  
  <h4 class="text-center" style="padding-top:15px ; padding-left:60px; color:#BDB6B6"><b>4 Bedrooms</b></h4>
  <div class="row">
        <div class="col-xs-3">  
        </div>
        <div class="col-xs-3">  
        </div>
        <div class="col-xs-3">  
          <p style="color:#CAD6E2">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click
             me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your 
             users know a little more about you.
          </p>
          <h3 style="color:#A8ACAF">$500/per week</h3>
        </div>
        <div class="col-xs-3">  
        </div>
  </div>
 </div>
 <div class="rectangle2" style="background-color: #5D5D92">
    <img class=" img2 img-responsive" src="/img/rec2.jpg">
    <div class="row">
        <div class="col-xs-3">  
        </div>
        <div class="col-xs-3"> 
          <h4 class="text-center" style="padding-top:50px; color:white">KINGS CLOSE</h4> 
          <h4 class="text-center" style="padding-top:25px; color:#BDB6B6">3 BEDROOMS</h4> 
            <p style="color:#CAD6E2 ; padding-top:10px">I'm a paragraph. Click here to add your own text and edit me. It’s easy.
               Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for
               you to tell a story and let your users know a little more about you.
            </p>
          <h3 style="color:#A8ACAF">$450/per week</h3>
        </div>
        <div class="col-xs-3">  
        </div>
        <div class="col-xs-3">  
        </div>
  </div>
 </div>
 <h2 class="text-center" style="padding-top:90px; color:#080872"><b>REALTORS YOU CAN TRUST</b></h2>
      <div class="row">
          <div class="col-xs-2">

          </div>
          <div class="col-xs-8">
              <div class="row">
                  <div class="col-xs-4" style=" padding-top:50px">
                    <!--To center the image use class="center-block" -->
                    <img class="icon img-responsive center-block" src="/img/icon1.png">
                    
                    <h4 class="text text-xs-center" style="color:#363691; padding-top:50px" ><b>FREE REGISTRATION <br> NO HIDDEN FEES</b></h4>
                    <h4 class="text text-xs-center" style="padding-top:30px">I'm a paragraph.
                      <br> Click here to add your own text and edit me.
                       Let your users get to know you.</h4>
                    <br> <br> <br> <br> <br> 
                  </div>
                  <div class="col-xs-4" style=" padding-top:50px">
                      <img class="icon img-responsive center-block" src="/img/icon2.png">
                      
                      <h4 class="text text-xs-center" style="color:#363691; padding-top:50px" ><b>PROPERTY APPRAISAL <br> FREE OF CHARGE</b></h4>
                      <h4 class="text text-xs-center" style="padding-top:30px">I'm a paragraph. 
                        <br>Click here to add your own text and edit me.
                         Let your users get to know you.</h4>
                      <br> <br> <br> <br> <br> 
                  </div>
                  <div class="col-xs-4" style=" padding-top:50px">
                      <img class="icon img-responsive center-block" src="/img/icon3.jpg">
                      
                      <h4 class="text text-xs-center" style="color:#363691; padding-top:50px" ><b>LARGE COVERAGE <br> OFFICES IN 4 LOCATIONS</b></h4>
                      <h4 class="text text-xs-center" style="padding-top:30px">I'm a paragraph. 
                        <br>Click here to add your own text and edit me.
                         Let your users get to know you.</h4>
                      <br> <br> <br>  <br> <br>      
                  </div>
              </div>
          </div>
          <div class="col-xs-2">

          </div>
      </div>
      <div  style="padding-top:50px" class="parallax">
        <div><h1 class="text text-center" style="color:#ffffff"><b >FIND YOUR DREAM HOME</b></h1></div>
        <div class="row">
          <div class="col-xs-2">

          </div>
          <div class="col-xs-8">
              <div class="row">
                <!-- text-xs-center,left,right is used to define the text from where to start. -->
                  <div class="col-xs-4 text text-xs-center"  style="color:#FDFBFB; padding-top:60px">
                    <p><b>"I'm a testimonial.
                        
                        <Br>Click to edit me and add text<br> that says something nice about<br> you and your services"</b></p>
                    <h3>- Tina & James Heart</h3>
                  </div>
                  <div class="col-xs-4  text text-xs-center"  style="color:#FCFCFC; padding-top:60px">
                      <p>
                          <b>"I'm a testimonial.
                          
                          <br>Click to edit me and add text<br> that says something nice about<br> you and your services"</b>
                      </p>
                      <h3>- Mary van den Reich</h3>
                  </div>
                  <div class="col-xs-4  text text-xs-center"  style="color:#FCF9F9; padding-top:60px">
                      <p><b>"I'm a testimonial.
                          
                          <br>Click to edit me and add text<br> that says something nice about<br> you andyour services"</b></p>
                          <h3>- Paul & Susan Taylor</h3>
                  </div>
              </div>
                
          </div>
          <div class="col-xs-2">
              
          </div>
        </div>
      </div>
      <div class="text text-xs-center" style="color:#080872 ; padding-top:75px">
            <h2><b><a name="contact" >CONTACT US</a></b></h2>
      </div>
      <div style="padding-top:40px">
            <div class="row">
              <div class="col-xs-6">
                <div class="text text-primary">
                  <h4>TALK TO OUR AGENT<br> FOR WEBSITE DESIGNING</h4>
                </div>
                <div>
                  <h4  class="text text-xs-left" style="color:#413F3F; opacity:0.5">
                    E-Mail: neeraj1515.kaushik@gmail.com 
                    <br>Tel: 9461949016
                  </h4>
                </div>
              </div>
              <div class="col-xs-6">
                  <br><h2><a name="Registration"><pre><B>REGISTRATION</B></pre></a></h2>
                    {{#each errors}}
                      <div class="alert alert-danger">{{text}}</div>
                    {{else}}

                    {{/each}}
                    <div class="card card-body">
                      <form action="/ideas" method="post">
                        <div class="form-group">
                          <label for="title">Full Name</label>
                          <input type="text" class="form-control" name="fullname" required>
                        </div>
                        <div class="form-group">
                          <label for="title">Email</label>
                          <input type="text" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                          <label for="title">Message</label>
                          <input type="text" class="form-control" name="message" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
              </div>
            </div>
            
      </div>